#dashboard {
    .search{ 
        color: #000;
       background-color: #cf832c;
        width: 100%;
        max-width: 100px;
        height: 50px;
        border: 2px solid #000;
        
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
        color: #cf832c!important;
    }

    .search:hover {
        background-color: #f8a94f;
    }

    .example-spacer {
        flex: 1 1 auto;
      }

      .example {
          width: 100%;
          max-width: 500px;
          margin: auto;
          background: #fff;
          border-radius: 4px;
          padding: 10px;
          display: block;
          border: 2px solid #cf832c;

      }

      .toolbar {
          color: #cf832c;
          margin-bottom: 50px;
      }

      .author {
        margin-left: 20px;
        margin-top: 5px;
      }

      mat-label {
          color: #000;
         
      }

      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
          color: #000;
          margin-top: 3px;
          margin-bottom: -3px;
      }

      .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
          color: #000;
      }

      .close {
          color: #000;
      }

      mat-form-field {
          display: block;
      }

    h1{ 
        text-transform: uppercase;
        margin-bottom: 12px;
    }


   
}